/* CSS Document */
html body {background:none; margin-left:30px;}
body{position:static; width:auto; height:auto; font-family:"Times New Roman", Times, serif; color:#000000; font-size:12px;}
.databasebox {width:600px;}
.yellowbox {background-color:#FFFFFF; border:1px solid #000; float:right; padding:15px;}
#title{background-color:#FFFFFF; text-align:center; font-size:24px;border-top:1px dashed #000;border-bottom:1px dashed #000;}
h5, h4, h3, h2, h1 {font-size:18px; font-family:Georgia, "Times New Roman", Times, serif;}
.heading{text-align:center;font-size:18px;border-bottom:1px solid #000;}
.headerimage{width:650px;}
a{text-decoration:none;}
form{background-color:#FFFFFF;border:1px dashed black;margin:10px;padding:10px; width:475px;}
label,input {display:block;float:left;margin-bottom:10px;}
label {text-align:right;width:85px; margin-right:15px;}
textarea {text-align:left;}

/*use this class to create hanging indents such as for citations. */
.hanging {text-indent:-25px; margin-left:25px;}

form#radio label{width:auto; margin:2px 10px 2px 2px;}
.mastheadimage{}
.actionbox, .noprint, .breadcrumbs, #breadcrumbs, #assistive_tag, .help, .mainlinks, #nav, .hidden, .invisible, #navbox{display:none;visibility:hidden;}
.footer{clear:both;float:left;}
/* departmental homepages */
#subtitle{text-align:center;font-size:24px;border-bottom:1px dashed #000;border-top:1px dashed #000;margin-top:5px;}
.contact{position:absolute;}
.newsbox{float:right;}
.imgbox{float:right;clear:left;}
.content{clear:left;}

/*database page*/
.columnone, .columntwo{float:left;}
.columnthree{clear:both;width:auto;margin-right:30px;}
.columnthree ul li{margin-right:30px;}
